
.backclr
{
   background: #F7F2E9 70%;
    
}
.headerleft
{
    text-align: left;
    background-color: #E9E3E3;
    padding : 0.5%;
    margin: 1%;
    width: 10%;
    float: left;
    background: #AA5758; 
}

.headerleft p{
    font-size: 15px;
    font-family:inherit;

}

.headerright{
    width: 60%;
    text-align: center;
    padding : 0.5%;
    margin: 1%;
    float: left;
    font-size: 25px;
   
}

.headerright p{
    font-size: 30px;
}

.extra head
{
    width: 20%;
    float:left;
}

.heada:after {
  content: "";
  display: table;
  clear: both;
}

.buttonhead{
    padding: 1%;
    margin-top: 4%;
    background-color: #8A736C;
    border-radius: 20%;
    float: left;
}

.buttonhead a{
     color: white;
    font-family: inherit;
    font-size: 20px;
    padding: 12px 14px; 
    text-align:center;
    text-decoration: none;
    float: left;
    display: block;
}
.buttonhead a:hover{
    background-color: white;
    color: black;
    border-radius: 20%;
}

.buttonabout{
    width: 100%;
    padding: 2%;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    background-color: #F7F2E9;
    border-style: hidden;
    cursor: pointer;
}

.buttonabout:hover{
    background-color: white;
    opacity: 30%;
}

.menutop{
    background-color: #8A736C;
    padding: 1%;
    overflow: hidden;
    
}

.menutop a{
    font-family: inherit;
    font-size: 20px;
    padding: 14px 16px; 
    text-align:center;
    text-decoration: none;
    color: black;
    float: left;
    display: block;
}

.menutop a:hover{
    background-color: whitesmoke;
    border-radius: 20%;
}

.footer{
    background-color: #8A736C;
    padding: 1%;
    overflow: hidden;
    
}

.footer a{
    font-family: inherit;
    font-size: 20px;
    padding: 14px 16px; 
    text-align:center;
    text-decoration: none;
    color: black;
    float: left;
    display: block;
}

.footer a:hover{
    background-color: whitesmoke;
    border-radius: 20%;
}

.leftcolumn {
    float: left;
    width: 35%;

}

.leftcolumn li{
    font-size: 18px;
    padding: 1%;
}

.rightcolumn{
    width: 35%;
    float: left;
}

.rightcolumn li{
    font-size: 18px;
    padding: 1%;
}

rightrightcolumn{
    width: 15%;
    float: left; 

 
}

.rightrightcolumn li{
    font-size: 18px;
    padding: 0.5%;
}


.righttop{
    background: linear-gradient(-45deg,#F7F2E9 25%, #AA5758); 
    width:100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%
}


.rightbelow{
     background: linear-gradient(-45deg,#F7F2E9 25%,#AA5758 );
    width:100%;
     margin-bottom: 0.5%;
}


.image{
    height: auto;
    max-width: 100%;
}




.row1 
{
    margin: 1%;
    font-size: 15px;
    display: table;
    width: 100%;
    height: auto;
}

.row1 p
{
   padding: 1%;
}


.rowtext
{
    width: 30%;
    float:left;
}

.rowimg
{
    height:auto;
    width: 70%;
    float:left;
    margin-top: 3%;

}

.rowimg:hover .image {
 background-color: lightgray;
    opacity: 0.6;
}

.extraimg
{
    margin-top: 8%;
    height:auto;
    width: 70%;
    float:left;

}

.extraimg:hover .image {
 background-color: gray;
opacity: 0.6;
}




@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn 
    {   
    width: 100%;
    padding: 0;
    height: auto;
    }
    .rightrightcolumn
    {   
    width: 100%;
    margin: 1%;
    padding: 0%;
    }
    .headerleft
    {
        width: 100%;
        padding: 0%;
        text-align: center;
    }
    
    
    .headerright p
    {
    font-size: 20px;
}
    .rowtext, .rowimg{
        float:none;
        width: 100%;
    }
    
    
    
}

@media screen and (max-width: 510px) {
    .menutop{
        margin-bottom: 3%;
    }
    
    .menutop a {
    float:none;
    width: 100%;
    font-size: 18px;
  }
  
}

@media screen and (max-width: 450px) {
  .headerright {
      width: 100%;
      float: center;
      text-align: center;
      align-content: center;
  }
    .buttonhead{
       width: 80%;
      float: center;
      text-align: center;
      align-content: center; 
    margin-left: 10%;
        margin-bottom: 3%;
    }
    
    .footer a{
        width: 100%;
    }
  
}



[class*="col-"] {
  width: 100%;
}

@keyframes Gradient {
	0% {
		background-position: 10% 50%
	}
	50% {
		background-position: 100% 55%
	}
	100% {
		background-position: 100% 100%
	}
}

.bg_img {

  background-image: url("pictures/education.jpg");
backdrop-filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_img2 {

    background-image: url("pictures/work.jpg");
  backdrop-filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.imgme{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    float: left;
    width: 30%;
    
}





